@page "/"
@inject NavigationManager Navigation


<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        var userIdentity = authState.User.Identity;
        if (!userIdentity.IsAuthenticated) {
            Navigation.NavigateTo("/login");
        }
    }
} 