@page "/login"
@inject HttpClient Http
@inject IToastService Toast
@inject NavigationManager Navigation

<div class="card bg-light m-3 align-self-center w-25">
    <div class="card-body">
        <h5 class="card-title font-weight-bolder">Authentication</h5>
        <hr />
        <p class="card-text">Please, identify yourself with a nickname.</p>
        <input class="mb-3 form-control" type="text" @bind-value="@_nickname" />
        <a class="btn btn-primary" @onclick="HandleAuthentication">Submit</a>
    </div>
</div>

@code {
    private string _nickname;

    private async Task HandleAuthentication()
    {
        var res = await Http.PostAsJsonAsync<string>("auth/login", _nickname);
        if (res.StatusCode == System.Net.HttpStatusCode.OK) {
            Toast.ShowSuccess("Successfully authorized. Enjoy :)");
            Toast.ShowInfo("Please wait, you will be redirected.");
            await Task.Delay(3000);
            Navigation.NavigateTo("/", true);
        } else {
            Toast.ShowError("Nickname already used.");
        }
    }
}
