@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Nunito', sans-serif;
}
/*body {*/
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
}*/
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.badge {
    cursor: default;
}

.clickable {
    cursor: pointer;
}

nav {
    background-color: #d35400;
    /*background: linear-gradient(0deg, rgba(120,247,255,1) 0%, rgba(37,37,255,1) 100%);*/
}

.hover-blue {
    cursor: pointer;
    transition: all 275ms ease;
}

    .hover-blue:hover {
        color: dodgerblue;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.user-select {
    transition: all 275ms ease;
}

    .user-select:hover {
        background-color: #e67e22;
        color: #ecf0f1;
    }

.cursor-default {
    cursor: default;
}

.my-turn {
    animation: cycleTextColor 1s ease infinite;
}

@keyframes cycleTextColor {
    0% {
        color: #2ecc71;
    }

    50% {
        color: #27ae60;
    }

    100% {
        color: #2ecc71;
    }
}

.game-info{
    position: fixed;
    left: 5px;
    top: 60px;
    
}






.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
